* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
body{
    background-image: url(/IMAGES/homee.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* background-color: rgb(178, 164, 185); */
  }
  h1{
    color: rgb(255,255,255);
  }
  .c1{
    height: 400px;
    width: 400px;
    border: 2px solid #c3c3c3;
    border-color: black;
    /* align: centre; */
  }
  .container{
    display: block;
  }
  .header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(173, 154, 90);
    color: black;
    /* margin: 10px; */
    padding: 10px;
    position: sticky;
    top: 0;
  }

  .header h1{
    color: black;
  }
  li a{
    text-decoration: none;

  }
  h3{
    font-size: 40px;
    background-color:
     black; color:
      white;width: 225px;
  }
  p{
    font-size: 25px; font-family: cursive;
  }
  .Description{
    font-size: 25px; font-family: cursive;
  }
  h2{
    font-size: 40px;background-color: black; color: white;width: 225px;
  }
  .list{
    list-style-type: square;
    margin-left: 100px;
  }
  .heading{
    font-size: 40px;background-color: black; color: white; width: 500px;
  }